<!DOCTYPE html>
<html lang="zh-CN">
    <head>
      <meta charset="utf-8">
      <title>臭美管理后台</title>
      <script type="text/javascript" src="/js/include.js"></script>
    </head>
    <body>
        <div class="breadcrumb">
            <a>韩式定妆 </a>
            <span>&gt;</span><a href="index.html">定妆单查询</a>
            <span>&gt;</span>定妆单详情
            <div class="flex-box">
                <div class="flex-item">
                    <h4>定妆单详情</h4>
                </div>
                <div class="flex-item fr no-print">
                  <div class="fr">
                    <span id="breadcrumb">
                        <script type="text/template" id="breadcrumb-t">
                            <a onclick="print()" class="btn" data-slug="coupon.add">
                                打印
                            </a>
                            <button <%if (data.booking_receive || (data.booking_salon_refund || data.order_refund)){%>disabled='disabled'<%}%> class="btn" data-modal='receive' data-slug="book.receive">
                                 接待
                            </button>
                            <button <%if (data.booking_cash || (data.booking_salon_refund || data.order_refund)){%>disabled='disabled'<%}%> class="btn" data-modal='cashier' data-slug="book.cash">
                                 收银
                            </button>
                            <button <%if (data.booking_bill || !data.booking_cash || (data.booking_salon_refund || data.order_refund)){%>disabled='disabled'<%}%> class="btn" data-modal='receipt' data-modal='' data-slug="book.bill">
                                 补开发票
                            </button>
                            <button <%if (data.makeup || !data.booking_cash || (data.booking_salon_refund || data.order_refund)){%>disabled='disabled'<%}%> class="btn" data-modal='comp-color' data-slug="book.relatively">
                                 补色
                            </button>
                            <button <%if ( (data.booking_salon_refund || data.order_refund) || !data.booking_cash){%>disabled='disabled'<%}%> data-modal='refund' class="btn" data-slug="book.refund">
                                 退款
                            </button>
                        </script>
                    </span>
                    <a href="index.html" class="btn" data-slug="book.index">
                         返回
                    </a>
                  </div>
                </div>
            </div>
        </div>
        <style>
        @media print
        {
            .no-print, .no-print *
            {
                display: none !important;
            }
        }
        .inner-table tbody td:nth-child(2n+1){
            background-color: #F6F8F9;
        }
        .inner-table tbody td:nth-child(2n){
            width: 35%;
        }
        .pad-n{
            padding:0px !important;
        }
        .bor-n{
            border:0px !important;
        }
        td.td{
            background-color: #F6F8F9;
        }
        </style>
        <div class="wrapper">
            <div class="table table-detail" style="margin:0" ajat="book/show/<%=query.id%>#domid=table&tempid=table-t" id="table">
                <script type="text/template" id='table-t'>
                <table >
                    <%var pay_type_desc={
                        "1":"网银",
                        "2":"支付宝",
                        "3":"微信",
                        "4":"余额",
                        "7":"积分",
                        "10":"易联"
                    }%>
                    <%var status={
                        'NEW':'未支付',
                        'PYD':'已支付',
                        'CSD':'已消费',
                        'RFN':'申请退款',
                        'RFD':'已退款',
                        'RFE':'退款失败',
                        'RFD-OFL':'线下已退款',
                    }%>
                    <%var cash_type_desc={
                         '1':'微信',
                         '2':'支付宝',
                         '3':'POS机',
                         '4':'现金',
                         '5':'微信+现金' ,
                         '6':'支付宝+现金' ,
                         '7':'POS机+现金'
                    }%>
                    <tbody>
                        <tr>
                            <td class="td">订单号：</td>
                            <td><%=data.order.ORDER_SN%></td>
                        </tr>
                        <tr>
                            <td class="td">预约号：</td>
                            <td><%=data.order.BOOKING_SN%></td>
                        </tr>
                        <tr>
                            <td class="td">手机号：</td>
                            <td><%=data.order.BOOKER_PHONE%></td>
                        </tr>
                        <tr>
                            <td class="td">姓名：</td>
                            <td><%=data.order.BOOKER_NAME%></td>
                        </tr>
                        <tr>
                            <td class="td">性别：</td>
                            <td><%= data.order.BOOKER_SEX == 'M' ?'男':'女'%></td>
                        </tr>
                        <tr>
                            <td class="td">预约项目：</td>
                            <td><%var orderItems=[];
                            data.order_item.forEach(function(orderItem){
                                orderItems.push(orderItem.ITEM_NAME);
                            })%><%=orderItems.join(",")%></td>
                        </tr>
                        <tr>
                            <td class="td">项目价格：</td>
                            <td><%=data.order.item_amount%></td>
                        </tr>
                        <tr>
                            <td class="td">预约日期：</td>
                            <td><%=data.order.BOOKING_DATE%></td>
                        </tr>
                        <tr>
                            <td class="td">推荐码：</td>
                            <td><%=data.recommend && data.recommend.recommend_code%></td>
                        </tr>
                        <tr>
                            <td class="td">订单状态：</td>
                            <td><%=status[data.order.STATUS]%></td>
                        </tr>
                        <tr>
                            <td  colspan="2">预约金支付信息</td>
                        </tr>
                        <tr >
                            <td colspan="2" class="pad-n bor-n">
                            <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>支付方式：</td>
                                            <td><%var payment_list=[];
                                            data.fundflow.forEach(function(payment_item){
                                                payment_list.push(pay_type_desc[payment_item.pay_type]);
                                            })%><%=payment_list.join(",")%></td>
                                            <td>流水号：</td>
                                            <td><%=data.payment_log && data.payment_log.tn%></td>
                                        </tr>
                                    </tbody>
                            </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">支付金额：</td>
                            <td><%=data.order.AMOUNT%></td>
                        </tr>
                        <tr>
                            <td class="td">支付状态：</td>
                            <td><%=status[data.order.STATUS]%></td>
                        </tr>
                        <%if (data.booking_receive){%>
                        <tr>
                            <td  colspan="2">用户到店记录</td>
                        </tr>
                        <tr>
                            <td class="td">到店时间：</td>
                            <td><%=data.booking_receive.arrive_at%></td>
                        </tr>
                        <tr>
                            <td class="td">修改预约：</td>
                            <td><%=data.booking_receive.update_booking_date%></td>
                        </tr>
                        <tr>
                            <td class="td">实做项目：</td>
                            <td><%var beauty_order_Items=[];
                            data.beauty_order_item.forEach(function(beauty_orderItem){
                                beauty_order_Items.push(beauty_orderItem.item_name);
                            })%><%=beauty_order_Items.join(",")%></td>
                        </tr>
                        <tr>
                            <td class="td">沟通记录：</td>
                            <td><%=data.booking_receive && data.booking_receive.remark%></td>
                        </tr>
                        <tr >
                            <td colspan="2" class="pad-n bor-n">
                            <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>接待人：</td>
                                            <td><%=data.booking_receive.manager.name%></td>
                                            <td>接待时间：</td>
                                            <td><%=data.booking_receive.created_at%></td>
                                        </tr>
                                    </tbody>
                            </table>
                            </td>
                        </tr>
                        <%}%>
                        <%if (data.booking_cash){%>
                        <tr>
                            <td colspan="2">收银信息：</td>
                        </tr>
                        <tr>
                            <td class="td">项目价格：</td>
                            <td><%=data.order.item_amount%></td>
                        </tr>
                        <tr>
                            <td class="td">已付定金：</td>
                            <td><%=data.order.PAYABLE%></td>
                        </tr>
                        <tr>
                            <td class="td">应收金额：</td>
                            <td><%= data.order.item_amount - data.order.PAYABLE%></td>
                        </tr>
                        <tr>
                            <td class="td">支付方式：</td>
                            <td><%=cash_type_desc[data.booking_cash.pay_type]%></td>
                        </tr>
                        <%if (data.booking_cash.pay_type < 5 ){%>
                        <tr>
                            <td class="td"><%=cash_type_desc[data.booking_cash.pay_type]%>支付：</td>
                            <td><%=data.booking_cash.pay_type == 4 ?data.booking_cash.cash_money : data.booking_cash.other_money%></td>
                        </tr>
                        <%}else{%>
                            <tr >
                                <td colspan="2" class="pad-n bor-n">
                                <table class="inner-table bor-n">
                                        <tbody>
                                            <tr>
                                                <td><%if (data.booking_cash.pay_type == 5){%>微信<%}%><%if (data.booking_cash.pay_type == 6){%>支付宝<%}%><%if (data.booking_cash.pay_type == 7){%>POS机<%}%>支付：</td>
                                                <td><%=data.booking_cash.other_money%></td>
                                                <td>现金支付：</td>
                                                <td><%=data.booking_cash.cash_money%></td>
                                            </tr>
                                        </tbody>
                                </table>
                                </td>
                            </tr>
                        <%}%>
                        <%if (data.booking_cash.deduction_money){%>
                        <tr>
                            <td class="td">抵扣金额：</td>
                            <td><%=data.booking_cash.deduction_money%></td>
                        </tr>
                        <%}%>
                        <tr >
                            <td colspan="2" class="pad-n bor-n">
                            <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>收银人：</td>
                                            <td><%=data.booking_cash.manager.name%></td>
                                            <td>收银时间：</td>
                                            <td><%=data.booking_cash.created_at%></td>
                                        </tr>
                                    </tbody>
                            </table>
                            </td>
                        </tr>
                        <%}%>
                        <%if (data.booking_salon_refund || data.order_refund){%>
                        <tr>
                            <td colspan="2">退款信息：</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pad-n bor-n">
                            <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>发起退款：</td>
                                            <td><%= data.booking_salon_refund ?'臭美工作人员':'用户'%></td>
                                            <td>退款原因：</td>
                                            <td><%= (data.booking_salon_refund &&data.booking_salon_refund.remark)|| data.order_refund.rereason%></td>
                                        </tr>
                                    </tbody>
                            </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">退款说明：</td>
                            <td><%= (data.booking_salon_refund &&data.booking_salon_refund.remark) || data.order_refund.refund_desc%></td>
                        </tr>
                        <%var back_to_desc=[,'微信','支付宝','银联','现金']%>
                        <tr>
                            <td class="td">退款方式：</td>
                            <td><%=back_to_desc [data.booking_salon_refund &&data.booking_salon_refund.back_to] || payment_list.join(',')%></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pad-n bor-n">
                            <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>退款金额：</td>
                                            <td><%= ( data.booking_salon_refund &&data.booking_salon_refund.money) || data.order_refund.money%></td>
                                            <td>发起退款时间：</td>
                                            <td><%= (data.booking_salon_refund &&data.booking_salon_refund.created_at) || data.order_refund.add_time%></td>
                                        </tr>
                                    </tbody>
                            </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pad-n bor-n">
                            <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>退款状态：</td>
                                            <td><%= status[data.order.STATUS] || status[data.order_refund.status]%></td>
                                            <td>退款时间：</td>
                                            <td><%= (data.booking_salon_refund &&data.booking_salon_refund.created_at) || data.order_refund.complete_time%></td>
                                        </tr>
                                    </tbody>
                            </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pad-n bor-n">
                            <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>审批人：</td>
                                            <td><%=  ( data.booking_salon_refund &&data.booking_salon_refund.manager.name) || data.order_refund.opt_user%></td>
                                            <td>审批时间：</td>
                                            <td><%= (data.booking_salon_refund &&data.booking_salon_refund.created_at) || data.order_refund.opt_time%></td>
                                        </tr>
                                    </tbody>
                            </table>
                            </td>
                        </tr>
                        <%}%>
                        <%if (data.makeup){%>
                        <tr>
                            <td colspan="2">补色信息：</td>
                        </tr>
                        <tr>
                            <td class="td">补色日期：</td>
                            <td><%=data.makeup.work_at%></td>
                        </tr>
                        <tr >
                            <td colspan="2" class="pad-n bor-n">
                            <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>补色专家：</td>
                                            <td><%if (data.makeup.expert){%><%=data.makeup.expert.name%>（<%=data.makeup.expert.number%>）<%}%></td>
                                            <td>补色助理：</td>
                                            <td><%if (data.makeup.assistant){%><%=data.makeup.assistant.name%>（<%=data.makeup.assistant.number%>）<%}%></td>
                                        </tr>
                                    </tbody>
                            </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">补色说明：</td>
                            <td><%=data.makeup.remark && data.makeup.remark.replace(/\n/g,"</br>")%></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pad-n bor-n">
                            <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>记录人：</td>
                                            <td><%=data.makeup.manager.name%></td>
                                            <td>记录时间：</td>
                                            <td><%=data.makeup.created_at%></td>
                                        </tr>
                                    </tbody>
                            </table>
                            </td>
                        </tr>
                        <%}%>
                        <%if (data.booking_bill){%>
                        <tr>
                            <td colspan="2">发票记录：</td>
                        </tr>
                        <tr>
                            <td class="td">发票状态：</td>
                            <td>已开发票</td>
                        </tr>
                        <tr >
                            <td colspan="2" class="pad-n bor-n">
                            <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>记录人：</td>
                                            <td><%=data.booking_bill.manager.name%></td>
                                            <td>记录时间：</td>
                                            <td><%=data.booking_bill.created_at%></td>
                                        </tr>
                                    </tbody>
                            </table>
                            </td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
                 </script>
                 <script type="text/javascript">
                 var orderInfo = {},id=lib.query.id
                 var completeDefine = function(){
                     var popup = $(this);
                     var form = popup.find('form');
                     var newForm = new lib.Form(form[0]);
                     popup.find('.popup-alert-define').unbind('click').on("click",function(e){
                        e.stopPropagation();
                        form.submit();
                     });
                     form.on('success',function(){
                         location.reload();
                     })
                 }
                  var ModalList = {
                    'receive':{
                      'title':'用户接待记录',
                      'cancelText':'取消',
                      'defineText':'保存',
                      'confirm':true,
                      'modalType':'box',
                      'url':'./modal_receive',
                      'complete':completeDefine
                    },
                    'cashier':{
                      'title':'确认收银',
                      'cancelText':'取消',
                      'defineText':'确认收银',
                      'confirm':true,
                      'modalType':'box',
                      'url':'./modal_cashier',
                      'complete':completeDefine
                    },
                    'comp-color':{
                      'title':'用户补色记录',
                      'cancelText':'取消',
                      'defineText':'保存',
                      'confirm':true,
                      'modalType':'box',
                      'url':'./modal_compColor',
                      'complete':completeDefine
                    },
                    'receipt':{
                      'text':'你正在给订单开发票，确认开票后不能退回，是否继续',
                      'cancelText':'取消',
                      'defineText':'确认',
                      'confirm':true,
                      'modalType':'confirm',
                      'complete':completeDefine,
                      'define':function(){
                          lib.ajax({
                              url:'book/bill/'+id
                          }).done(function(data, status, xhr){
                              if(data.result == 1){
                                  location.reload();
                              }
                          });
                      }
                    },
                    'refund':{
                      'title':'退款',
                      'cancelText':'取消',
                      'defineText':'确认退款',
                      'confirm':true,
                      'modalType':'box',
                      'url':'./modal_refund',
                      'complete':completeDefine

                    }
                  };

                  var bindEvent = function(){
                    $('body').on('click','[data-modal]',function(){
                      var modal= $(this).attr('data-modal');
                      initModal(ModalList[modal]);
                    });
                    $('#table').on('_ready',function(e,res){
                        orderInfo = res.response;
                        lib.ajat('#domid=breadcrumb&tempid=breadcrumb-t').template(orderInfo);
                    })
                  }();

                  var initModal = function(options){
                      if (options.url && options.url.indexOf('./')>-1){
                           options.content =lib.ejs.render({url:options.url});
                      }
                      parent.lib.popup[options['modalType']](options);
                  }
                 </script>
            </div>
        </div>
    </body>
</html>
