<!DOCTYPE html>
<html lang="zh-CN">
    <head>
      <meta charset="utf-8">
      <title>臭美管理后台</title>
      <script type="text/javascript" src="/js/include.js"></script>
    </head>
    <body>
        <div class="breadcrumb">
            <a>韩式定妆 </a>
            <span>&gt;</span><a href="refund_list.html">定妆单退款查询</a>
            <span>&gt;</span>定妆单退款详情
            <div class="flex-box">
                <div class="flex-item">
                    <h4>定妆单退款详情</h4>
                </div>
                <div class="flex-item fr">
                  <div class="fr">
                      <span id="breadcrumb">
                      <script type="text/template" id="breadcrumb-t">
                          <form data-slug="beautyrefund.accept" <%if (data.status == 'RFD'){%>disabled='disabled'<%}%> action="beautyrefund/accept" id="destroy" data-role="normal" onsuccess="refund(data.data)">
                              <input type="hidden" name="ids" value="<%=query.id%>">
                          <button class="btn" <%if (data.status == 'RFD'){%>disabled='disabled'<%}%>  data-slug="beautyrefund.accept">
                               确认退款
                          </button>
                          </form>
                          <form data-slug="beautyrefund.reject" action="beautyrefund/reject" <%if (data.status == 'RFD'){%>disabled='disabled'<%}%> id="destroy" data-role="normal" onsuccess="lib.popup.result({text:'拒绝退款成功',define:function(){location.href='refund_list.html';}});">
                              <input type="hidden" name="ids" value="<%=query.id%>">
                          <button class="btn" <%if (data.status == 'RFD'){%>disabled='disabled'<%}%>  data-slug="beautyrefund.reject">
                               拒绝退款
                          </button>
                          </form>
                      </script>
                      </span>
                      <a href="refund_list.html" class="btn">
                           返回
                      </a>
                  </div>
                </div>
            </div>
        </div>
        <style>
        .inner-table tbody td:nth-child(2n+1){
            background-color: #F6F8F9;
        }
        .inner-table tbody td:nth-child(2n){
            width: 35%;
            background-color: #fff;
        }
        .white-bg{
            background-color: #fff !important;
        }
        .inner-table{
            margin: -1px;
        }
        .inner-table tbody td:nth-child(4n){
            border-right: 0px;
        }
        .pad-n{
            padding:0px !important;
        }
        .bor-n{
            border:0px !important;
        }
        td.td{
            background-color: #F6F8F9;
        }
        </style>
        <form id='alipaysubmit' name='alipaysubmit' target="_blank" style="display:none" method='post'
        action='https://mapi.alipay.com/gateway.do?_input_charset=utf-8'>
            <input type='hidden' name='_input_charset' value=''/>
            <input type='hidden' name='batch_no' value=''/>
            <input type='hidden' name='batch_num' value=''/>
            <input type='hidden' name='detail_data' value=''/>
            <input type='hidden' name='notify_url' value=''/>
            <input type='hidden' name='partner' value=''/>
            <input type='hidden' name='refund_date' value=''/>
            <input type='hidden' name='seller_email' value=''/>
            <input type='hidden' name='service' value=''/>
            <input type='hidden' name='sign' value=''/>
            <input type='hidden' name='sign_type' value=''/>
        </form>
        <div class="wrapper">
            <div class="table table-detail" style="margin:0" ajat="beautyrefund/show/<%=query.id%>#domid=table&tempid=table-t" id="table">
                <script type="text/template" id='table-t'>
                <table >
                <%var status={
                    'NEW':'未支付',
                    'PYD':'已支付',
                    'CSD':'已完成',
                    'RFN':'退款中',
                    'RFD':'已退款',
                    'RFE':'退款失败',
                    'RFD-OFL':'已退款',
                }%>
                <%var pay_type_desc={
                    "1":"网银",
                    "2":"支付宝",
                    "3":"微信",
                    "4":"余额",
                    "7":"积分",
                    "10":"易联"
                }%>
                    <tbody>
                        <tr>
                            <td class="td">订单号：</td>
                            <td><%=data.ordersn%></td>
                        </tr>
                        <tr>
                            <td class="td">预约号：</td>
                            <td><%=data.booking_sn%></td>
                        </tr>
                        <tr>
                            <td class="td">手机号：</td>
                            <td><%=data.booker_phone%></td>
                        </tr>
                        <tr>
                            <td class="td">姓名：</td>
                            <td><%=data.booker_name%></td>
                        </tr>
                        <tr>
                            <td class="td">性别：</td>
                            <td><%=data.booker_sex=='F' ? '女':'男'%></td>
                        </tr>
                        <tr>
                            <td class="td">预约项目：</td>
                            <td><%var orderItems=[];
                            data.booking_order_item.forEach(function(orderItem){
                                orderItems.push(orderItem.item_name);
                            })%><%=orderItems.join(",")%></td>
                        </tr>
                        <tr>
                            <td class="td">项目价格：</td>
                            <td><%var orderPrice=0;
                            data.booking_order_item.forEach(function(orderItem){
                                orderPrice = orderPrice+Number(orderItem.price)
                            })%><%=orderPrice%></td>
                        </tr>
                        <tr>
                            <td class="td">预约日期：</td>
                            <td><%=data.booking_date%></td>
                        </tr>
                        <tr>
                            <td class="td">推荐码：</td>
                            <td><%=data.recommend_code%></td>
                        </tr>
                        <tr>
                            <td class="td">订单状态：</td>
                            <td><%=status[data.status]%></td>
                        </tr>
                        <tr>
                            <td colspan="2" class='white-bg'>预约金支付信息</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pad-n bor-n">
                                <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>支付方式：</td>
                                            <td><%=pay_type_desc[data.pay_type]%></td>
                                            <td>流水号：</td>
                                            <td><%=data.payment_sn%></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">支付金额：</td>
                            <td><%=data.payable%></td>
                        </tr>
                        <tr>
                            <td class="td">支付时间：</td>
                            <td><%=data.paied_time%></td>
                        </tr>
                        <tr>
                            <td class="td">支付状态：</td>
                            <td>支付<%= data.pay_status == 1 ? '成功':'失败'%></td>
                        </tr>
                        <%if (data.receive.arrive_at){%>
                        <tr>
                            <td colspan="2" class='white-bg'>用户到店记录</td>
                        </tr>
                        <tr>
                            <td class="td">到店时间：</td>
                            <td><%=data.arrive_at%></td>
                        </tr>
                        <tr>
                            <td class="td">修改预约：</td>
                            <td><%=data.update_booking_date%></td>
                        </tr>
                        <tr>
                            <td class="td">沟通记录：</td>
                            <td><%=data.remark%></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pad-n bor-n">
                                <table class="inner-table bor-n">
                                <tbody>
                                    <tr>
                                        <td>接待人：</td>
                                        <td><%=data.receiver%></td>
                                        <td>接待时间：</td>
                                        <td><%=data.create_at%></td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        <%}%>
                        <tr>
                            <td colspan="2" class='white-bg'>退款信息</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pad-n bor-n">
                                <table class="inner-table bor-n">
                                <tbody>
                                    <tr>
                                        <tr>
                                            <td>发起退款：</td>
                                            <td><%= data.refund_from == 1?'用户':'臭美人员'%></td>
                                            <td>退款原因：</td>
                                            <td><%=data.rereason%></td>
                                        </tr>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">退款说明：</td>
                            <td><%=data.refund_desc%></td>
                        </tr>
                        <tr>
                            <td class="td">退款方式：</td>
                            <td><%=pay_type_desc[data.refund_type]%></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pad-n bor-n">
                                <table class="inner-table bor-n">
                                <tbody>
                                    <tr>
                                        <td>退款金额：</td>
                                        <td><%=data.money%></td>
                                        <td>发起退款时间：</td>
                                        <td><%=data.add_time%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pad-n bor-n">
                                <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>退款状态：</td>
                                            <td><%=status[data.status]%></td>
                                            <td>退款时间：</td>
                                            <td><%=data.complete_time%></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pad-n bor-n">
                                <table class="inner-table bor-n">
                                    <tbody>
                                        <tr>
                                            <td>审批人：</td>
                                            <td><%=data.opt_user%></td>
                                            <td>审批时间：</td>
                                            <td><%=data.opt_time%></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                 </script>
                 <script>
                    $('#table').on('_ready',function(e,res){
                        lib.ajat('#domid=breadcrumb&tempid=breadcrumb-t').template(res.response);
                    })
                    var refund = function(data){
                        lib.popup.result({
                            text:'退款成功',
                            define:function(){
                                location.reload();
                            }
                        });
                        if(data.alipay && data.alipay.form_args){
                          $.each($("#alipaysubmit").serializeArray(),function(i,field){
                            $("input[name='"+field.name+"']").val(data.alipay.form_args[field.name]);
                          })
                          $("#alipaysubmit").submit();
                        }
                    }
                 </script>
            </div>
        </div>
    </body>
</html>
