
   <%
   var inArray = function(source,array){
       for (var i = 0;i<array.length;i++){
           if (source == array[i]){
               return true;
           }
       }
       return false;
   }
   var selectedItems = protocol.custom.selected.split(',');
   %>
    <%data.forEach(function(item){%>
    <%
        if (inArray(item.item_id,selectedItems)){
            item.selected = true;
        }

    %>
    <label class="label">
        <input type="checkbox" class="item_ids" <%if (item.selected){%>checked='checked'<%}%> value="<%=item.item_id%>" >
        <span><%=item.name%></span>
    </label>
    <%})%>
    <input type="hidden" required name="item_ids"  id="item_ids" requiredmsg='请选择服务项目'>
    <script>
        $('.item_ids').on('change',function(){
            initItemsValue()
        })

        var initItemsValue = function(){
            var itemList = [];
            $('.item_ids:checked').each(function(item){
                itemList.push($(this).val());
            })
            $("#item_ids").val(itemList.join(','));
        }
        initItemsValue();
    </script>
