    <%data.data&&data.data.forEach(function(item){%>
    <label class="label">
        <input type="checkbox" class="item_ids" value="<%=item.item_id%>" >
        <span><%=item.name%></span>
    </label>
    <%})%>
    <input type="hidden" required name="item_ids" id="item_ids">
    <script>
        $('.item_ids').on('change',function(){
            initItemsValue()
        })

        var initItemsValue = function(){
            var itemList = [];
            $('.item_ids:checked').each(function(item){
                itemList.push($(this).val());
            })
            console.log(itemList);
            $("#item_ids").val(itemList.join(','));
        }
        initItemsValue();
    </script>
