<!DOCTYPE html>
<html lang="zh-CN">
    <head>
      <meta charset="utf-8">
      <title>臭美管理后台</title>
      <script type="text/javascript" src="/js/include.js"></script>
      <style>
        td:first-of-type{
            width:15%;
        }
      </style>
    </head>
    <body>
        <div class="breadcrumb">
            <a>券活动管理 </a>
            <span>&gt;</span><a href="index.html">平台活动</a>
            <span>&gt;</span><a href="perview.html"><%= query.type=='add' ? '新增活动预览' : '编辑活动预览'%></a>
            <div class="flex-box">
                <div class="flex-item">
                    <h4><%= query.type=='add' ? '新增活动预览' : '编辑活动预览'%></h4>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="table" style="margin:0" id="table-wrapper">
                <script type="text/template" id="table-t">
                <div class="detail-operation">
                    <button class="btn" type="button" onclick="window.close()">关闭</button>  
                </div> 

                <table>
                    <thead>
                        <th colspan="2">活动基本信息</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td">活动名称</td>
                            <td><%=data.actName%></td>
                        </tr>

                        <tr>
                            <td class="td">活动简介</td>
                            <td><%=data.actIntro%></td>
                        </tr>  

                        <tr>
                            <td class="td">负责人</td>
                            <td><%=data.manager%></td>
                        </tr>  
                        <tr>
                            <td class="td">活动(获取)时间</td>
                            <td>
                            <%=data.getTimeStart ? data.getTimeStart + '至' : ''%>  <%=data.getTimeEnd%>
                            </td>
                        </tr>                                                                 
                    </tbody>                     
                </table>

                <table>
                    <thead>
                        <th colspan="2">获取条件</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td">获取用户</td>
                                <%
                                var itemText = {'1':'新注册','2':'首次消费','3':'指定手机号 ','4':'指定集团码用户',
                                '5':'指定活动码用户','6':'指定店铺码用户','7':'全平台用户','8':'H5用户'};
                                %>
                                <td>
                                <%if(data.selectItem){%>
                                    <label class="radio">
                                        <input type="radio" checked name="itemType" value="<%=data.selectItem%>">
                                        <span><%=itemText[data.selectItem]%></span>
                                    </label>

                                    <%if(data.selectItem == 3){%>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="link" href="addMobile.html?type=preview" >查看已添加手机号</a>
                                    <%}%>

                                    <%if(data.selectItem == 4){%>
                                        <span>(<%=data.code%>)</span>
                                    <%}%>

                                    <%if(data.selectItem == 5){%>
                                        <span>(<%=data.code%>)</span>
                                    <%}%>

                                    <%if(data.selectItem == 6){%>
                                        <span>(<%=data.code%>)</span>
                                    <%}%>                      
                                <% }%>
                            </td>
                        </tr>

                        <tr>
                            <td class="td">指定项目类别消费获取</td>
                            <td>
                            <%
                             data.itemTypeArr && data.itemTypeArr.forEach(function(item,i){
                            %>
                                <label class="checkbox">
                                    <input type="checkbox"  name="getItemTypes" checked value="<%=item.typeid%>" >
                                    <span><%=item.typename%></span>
                                </label> 
                            <%
                             })
                            %>
                            </td>
                        </tr>  

                        <tr>
                            <td class="td">消费满获取</td>
                            <td><%=data.enoughMoeny%></td>
                        </tr>  

                        <tr>
                            <td class="td">每个用户获取现金券上限</td>
                            <td><%=data.getSingleLimit%></td>
                        </tr>                                                                 
                    </tbody>                     
                </table>

                <table>
                    <thead>
                        <th colspan="2">现金券使用限制</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td">现金券面额</td>
                            <td><%=data.money%></td>
                        </tr>

                        <tr>
                            <td class="td">现金券总数</td>
                            <td><%=data.totalNumber=="0" ? '不限' : data.totalNumber %></td>
                        </tr>  

                        <tr>
                            <td class="td">现金券预算合计</td>
                            <td>
                                <%if(data.totalNumber == "0"){%>
                                    无限制
                                <%}%>

                                <%if(data.totalNumber != "0" && !isNaN(data.totalNumber) && !isNaN(data.money)){%>
                                    <%=data.totalNumber * data.money %>
                                <%}%>                            
                            </td>
                        </tr>

                        <tr>
                            <td class="td">指定项目类别消费获取</td>
                            <td>
                            <%
                             data.limitItemArr && data.limitItemArr.forEach(function(item,i){
                            %>
                                <label class="checkbox">
                                    <input type="checkbox"  name="getItemTypes" checked value="<%=item.typeid%>" >
                                    <span><%=item.typename%></span>
                                </label> 
                            <%
                             })
                            %>
                            </td>
                        </tr>   

                        <tr>
                            <td class="td">限制用户</td>
                            <td><%=data.useLimitTypes=="2" ? "限制首单使用" :"【无限制】"%></td>
                        </tr>

                        <tr>
                            <td class="td">单个项目满额可用</td>
                            <td><%=data.singleEnoughMoney%></td>
                        </tr>

                        <tr>
                            <td class="td">现金券有效时间</td>

                            <td>
                            <%if(data.addActLimitStartTime && data.addActLimitEndTime){%>
                                <%=data.addActLimitStartTime%> 到 <%=data.addActLimitEndTime%>
                            <%}%> 

                            <%if(data.fewDay){%>  
                                <%=data.fewDay ? data.fewDay+'天' : ''%>
                            <%}%>
                            </td>
                        </tr>                                                                   
                    </tbody>                     
                </table>
                </script>                                 
            </div>
        </div>

        <script>
            lib.ajax({
                type: "post",
                url : 'platform/getItemType'  
            }).done(function(data, status, xhr){
                if(data.result == "1"){
                    var previewData = JSON.parse(sessionStorage.getItem('preview-base-data')); 
                    var itemTypeArr = [] , limitItemArr = [];
                    if(previewData.getItemTypes && typeof previewData.getItemTypes=='string'){
                       var arr = previewData.getItemTypes.split(',');
                       arr.forEach(function(item,i){
                            data.data.forEach(function(obj,i){
                                if(item == obj.typeid){
                                    itemTypeArr.push(obj);
                                }
                            });
                       });
                    }
                    if(previewData.getItemTypes && previewData.getItemTypes instanceof Array){
                       previewData.getItemTypes.forEach(function(item,i){
                            data.data.forEach(function(obj,i){
                                if(item == obj.typeid){
                                    itemTypeArr.push(obj);
                                }
                            });
                       });                        
                    }

                    if(previewData.limitItemTypes && typeof previewData.limitItemTypes == 'string'){
                       var arr = previewData.getItemTypes.split(',');
                       arr.forEach(function(item,i){
                            data.data.forEach(function(obj,i){
                                if(item == obj.typeid){
                                    limitItemArr.push(obj);
                                }
                            });
                       });
                    }
                    if(previewData.limitItemTypes && previewData.limitItemTypes instanceof Array){
                       previewData.limitItemTypes.forEach(function(item,i){
                            data.data.forEach(function(obj,i){
                                if(item == obj.typeid){
                                    limitItemArr.push(obj);
                                }
                            });
                       });                        
                    }

                    previewData.itemTypeArr = itemTypeArr;

                    previewData.limitItemArr= limitItemArr;

                    if(previewData.selectItemType == 1){
                        previewData.selectItem = previewData.getTypes || previewData.selectUseType;
                    }

                    if(previewData.selectItemType=="2"){
                        if(!previewData.selectUseType && data.getTypes == "3"){
                            previewData.selectItem = 3;
                        }else{
                            previewData.selectItem = previewData.selectUseType; 
                        }

                        if(!previewData.selectUseType && data.getCodeType == "1"){
                            previewData.selectItem = 6;
                        }else{
                            previewData.selectItem = previewData.selectUseType; 
                        }

                        if(!previewData.selectUseType && data.getCodeType == "2"){
                            previewData.selectItem = 4;
                        }else{
                            previewData.selectItem = previewData.selectUseType; 
                        }

                        if(!previewData.selectUseType && data.getCodeType == "3"){
                            previewData.selectItem = 5;
                        }else{
                            previewData.selectItem = previewData.selectUseType;
                        }
                    }

                    if(previewData.selectItemType=="3"){
                        previewData.selectItem = 7;
                    }

                    if(previewData.selectItemType=="4"){
                        previewData.selectItem = 8;
                    }                                          
                    
                    lib.ajat('#domid=table-wrapper&tempid=table-t').template(previewData);                     
                }
            }) 
        </script>    
    </body>
</html>