&nbsp;&nbsp;
<form data-role="hash">
	<%if(data.total===undefined){%>
		当前<%=data.current_page%>页
		&nbsp;&nbsp;
		<%if(data.current_page!=1){%>
			<a class="link" href="#page=<%=parseInt(data.current_page)-1%>" data-role="hash">上一页</a>
		<%}%>
		<a class="link" href="#page=<%=parseInt(data.current_page)+1%>" data-role="hash">下一页</a>
	<%}else{%>
		<%var start=(data.current_page-1)*data.per_page+1;%>
		<%var end=data.current_page*data.per_page<data.total?data.current_page*data.per_page:data.total;%>
		<%=start%>-<%=end%>&nbsp;/&nbsp;<%=data.total%>条，
	<%}%>
	每页
	<select name="page_size">
		<option value="10" <%=data.per_page==10?"selected":""%>>10</option>
		<option value="20" <%=data.per_page==20?"selected":""%>>20</option>
		<option value="50" <%=data.per_page==50?"selected":""%>>50</option>
		<option value="100" <%=data.per_page==100?"selected":""%>>100</option>
		<option value="200" <%=data.per_page==200?"selected":""%>>200</option>
		<option value="500" <%=data.per_page==500?"selected":""%>>500</option>
	</select>条
	&nbsp;&nbsp;
	到第
	<input type="text" name="page">页
	<button class="go link">确定</button>
	<input type="hidden" id="pager-total" value="<%=data.total%>"/>
</form>