<%data&&data.forEach&&data.forEach(function(item){%>
	<div class="control-thumbnails-item">
	    <%if(!item.ratio || item.ratio == 1){%>
			<img src="<%=item.thumbimg?item.thumbimg:item.img%>" alt="" data-original="<%=item.img%>"
			data-ratio="<%=item.ratio%>" data-type="<%=item.type%>"/>	    
	    <%}else if(item.ratio > 1){%>
			<img src="<%=item.thumbimg?item.thumbimg:item.img%>" alt="" data-original="<%=item.img%>" 
			data-ratio="<%=item.ratio%>" data-type="<%=item.type%>" style="height:74px;padding-top:37px"/>
	    <%}else{%>
			<img src="<%=item.thumbimg?item.thumbimg:item.img%>" alt="" data-original="<%=item.img%>" 
			data-ratio="<%=item.ratio%>" data-type="<%=item.type%>"  style="width:74px;padding-left:37px"/>	    
	    <%}%>
		<a class="fa fa-times-circle control-thumbnails-remove"></a>
		<input type="checkbox" name="thumb" class="thumb" value="<%=item.thumbimg%>">
		<input type="checkbox" name="original" class="original" value="<%=item.img%>">
		<input type="checkbox" name="ratio" class="ratio" value="<%=item.ratio%>">
		<div class="control-thumbnails-operation flex-box">
			<span class="control-thumbnails-before flex-item"><i class="fa fa-long-arrow-left"></i></span>
			<span class="control-thumbnails-edit flex-item"><i class="fa fa-pencil-square-o"></i></span>
			<span class="control-thumbnails-after flex-item"><i class="fa fa-long-arrow-right"></i></span>
		</div>
	</div>
<%})%>