body{
    color:#666666;
	font-size:12px;
}
hr{
	margin:5px 0;
	border-color:#E6EAF2;
}
a,button{
	cursor:pointer;
}
h1, h2, h3, h4, h5, h6,legend{
	font-family:"Microsoft Yahei";
}
.fff{
	color:#fff!important;
}
.weak{
	color:#999;
}
.link{
	color:#58A2EC!important;
}
.link:hover{
	color:#58A2EC!important;
}
.btn,.btn-primary,.btn-warn{
	padding:0px 10px;
	line-height:30px;
	vertical-align:middle;
	font-size:inherit;
	cursor:pointer;
	display:inline-block;
	min-width:80px;
	font-size:1.05rem;
	color:#666;
	outline:none;
	box-sizing: border-box;
	border-color:#E6EAF2
}
.btn-primary{
	border-color:#58A2EC;
	background:#58A2EC;
}
input[type='text'], input[type='password'], input[type='url'], input[type='number'], input[type='email'], input[type='url'], input[type='tel'], input[type='time'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='search'], textarea, .input{
	width:auto;
	padding:0px 10px;
	border-color:#E6EAF2;
	height:32px;
	line-height:32px;
	color:#666;
	font-size:12px;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
textarea{
	height:100px;
	line-height:20px;
	padding-top:5px;
	padding-bottom:5px;
}
select{
	width:auto;
	padding-right:16px;
	min-width:100px;
	height:32px;
	line-height:32px;
	color:#666;
	margin-right:5px;
	border-color:#E6EAF2;
	-webkit-transition: border 0.2s ease 0s,box-shadow 0.2s ease 0s;
	-moz-transition: border 0.2s ease 0s,box-shadow 0.2s ease 0s;
	-ms-transition: border 0.2s ease 0s,box-shadow 0.2s ease 0s;
	transition: border 0.2s ease 0s,box-shadow 0.2s ease 0s;
}
input:focus,
textarea:focus,
select:focus,.select-focus{
	border-color:rgba(88,162,236,0.9);
	box-shadow:0 0 10px rgba(102, 175, 233, 0.7);
}
input.radio:checked+label:before,input.checkbox:checked+label:before{
	box-shadow:0px 0px 0px 3px #fff,0px 0px 0px 4px #498ae5;
    background:#498ae5;
}
input.radio+label:before{
	width:6px;
	height:6px;
}


.tab{
	border:1px solid #E6EAF2;
}
.tab li{
	display:inline-block;
	border-top:2px solid transparent;
	min-width:80px;
	line-height:36px;
	text-align:center;
	margin-top:-1px;
}
.tab li.active{
	border-top-color:#58a2ec;
	color:#58a2ec;
}
.tab li a{
	display:block;
}
.btn-image-upload{
	width:196px;
	height:135px;
	color:#666;
	font-size:16px;
}
.btn-image-upload:active{
	box-shadow:none;
}
.btn-image-upload .fa{
	display:block;
	font-size:40px;
	margin-bottom:5px;
	margin-top:30px;
}
.btn-image-upload input[type='file']{
	position:absolute;
	right:0px;
	top:0px;
	width:100%;
	height:100%;
	opacity:0;
}
.loadbar{
    position: absolute;
    left:0px;
    top:0px;
	background:#fff;
    height:2px;
    z-index: 1000;
    width:0;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
}
.loadbar:after{
    position: absolute;
    content:'';
    right:0;
    top:0;
    width:2px;
    height:2px;
    box-shadow: 0px 0px 4px #fff;
    border-radius: 4px;
}
iframe{
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}
.frame-main{
	position:relative;
}
aside{
	position:absolute;
	height:100%;
	width:180px;
	top:0;
	left:0;
	z-index:100;
	line-height:36px;
}
article{
    position: relative;
	margin-left:180px;
	height:100%;
	background:#fff;
	-webkit-transition:opacity 0.2s ease 0s,margin-left 0.2s ease 0s;
    -moz-transition:opacity 0.2s ease 0s,margin-left 0.2s ease 0s;
    -ms-transition:opacity 0.2s ease 0s,margin-left 0.2s ease 0s;
    transition:opacity 0.2s ease 0s,margin-left 0.2s ease 0s;
}
.simsun,.pager .next,.pager .prev{
	font-family:SimSun;
}
header{
	background: #28394A;
    color: #fff;
    height: 56px;
    position: relative;
    z-index: 101;
}
.logo,.nav-main{
	display:inline-block;
	vertical-align:middle;
}
.logo{
	width:180px;
	margin-right:-4px;
	text-align:center;
}
h1{
	font-size:20px;
	display:inline-block;
	margin:0;
	line-height:38px;
	padding-left:5px;
	vertical-align:middle;
	font-weight:bold;
}
.logo img{
	width:35px;
	height:35px;
	margin-left:6px;
}
/**第一级菜单 start**/
.nav-main li{
	display: inline-block;
    height: 56px;
    line-height: 56px;
    min-width: 80px;
    padding: 0 10px;
    text-align: center;
	font-size:14px;
	margin-right:-4px;
}
.nav-main li.active{
	background: rgba(255, 255, 255, 0.1);
}
.nav-sub{
	float:right;
	margin:14px 5px;
}
.nav-sub select{
	margin-right:10px;
	background-color:#fff;
	min-width:40px;
	border:0px;
}
.nav-sub>ul>li,.nav-sub>ul{
	display:inline-block;
	vertical-align:top;
}
.nav-sub>ul>li.active{
	background:rgba(0,0,0,0.2);
	border-radius:5px;
	color:#fff;
}
.nav-sub-item{
	display:inline-block;
	padding:0px 10px!important;
	line-height:32px;
}
.nav-sub .drop-menu-toggle{
	padding:0px 5px;
	line-height:32px;
	color:#fff;
}
/**第一级菜单 end**/
/**侧边栏 start**/
aside h2{
	color:#999;
	font-size:18px;
	line-height:60px;
	text-align:center;
	border-bottom:1px solid #E0E6EF;
	font-weight:bold;
}
.menu-category-title{
	 border-bottom:1px solid #E0E6EF;
	 padding:0 15px;
	 cursor:pointer;
}
.menu-category li{
    margin-left:10px;
    overflow: hidden;
	text-shadow:0px 0px 1px rgba(255,255,255,0.15);
}
.menu-category .flex-item{
	padding-left:10px;
}
.menu-category .flex-item+a{
    width:40px;
    text-align: center;
    font-size:18px;
}
.menu-category ul{
	display:none;
}
.menu-category.active ul{
    background: #fff;
	border-bottom:1px solid #E0E6EF;
}
.menu-category li.active{
	color:#58A2EC;
	font-weight:bold;
}
.menu-category .fa-angle-right{
	margin-right:5px;
	font-size:14px;
}
/**侧边栏 end**/

.wrapper{
	margin:10px 17px;//设计图是17px
}
/**面包屑 start**/
.breadcrumb{
    line-height: 40px;
	margin-bottom:10px;
	margin:0px 17px;
	color:#999999;
}
.breadcrumb a{
	display:inline-block;
}
.breadcrumb span{
	margin:0px 5px;
	font-family:SimSun;
	color:#888;
}
.breadcrumb h4{
	font-size:16px;
	font-weight:bold;
}
/**面包屑 end**/

/**表单 start**/
.control-group{
	margin:30px 0;
}
.form-vertical .control-group{
	display:table;
	width:100%;
}
.form-vertical .control-label{
	display:table-cell;
	width:170px;
	text-align:right;
	padding-right:10px;
}
.form-vertical .control{
	display:table-cell;
}
.form-vertical .control:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.form-vertical .control input[type='text'],
.form-vertical .control input[type='password'],
.form-vertical .control input[type='number'],
.form-vertical .control input[type='tel'],
.form-vertical .control input[type='search'],
.form-vertical .control input[type='date'],
.form-vertical .control textarea{
	width:20%;
	min-width:250px;
	margin-right:10px;
}
.form-vertical .control select{
	width:auto;
	min-width:80px;
	margin-right:10px;
}
.form-vertical .control textarea{
	height:80px;
	padding:5px 10px;
	line-height:20px;
}
.form-vertical button{
	padding-left:10px;
	padding-right:10px;
	min-width:100px;
}
.form-vertical button:disabled{
	cursor: wait;
}
.control-error input[type='text'],
.control-error input[type='password'],
.control-error input[type='number'],
.control-error input[type='tel'],
.control-error input[type='search'],
.control-error input[type='date'],
.control-error textarea{
	border-color:#b94a48!important;
}
.control-help{
	color:#b94a48;
}
.red{
	color:red;
	margin:5px;
	font-size:16px;
	position:relative;
	top:4px;
}
legend{
	font-size:17px;
	padding-left:20px;
}
input.label{
	margin:-1px;
}
input.label+label{
	line-height:30px;
}
input.label:checked + label{
	border-color:#498ae5;
	color:#498ae5;
}
input.solid+label{
	line-height:22px;
	border-radius:2px;
	border:0px;
	min-width:0;
	padding:0px 6px;
}
input.solid:checked+label,input.solid+label:hover{
	background-color:#498ae5;
	color:#fff;
}
input.checkbox+label:before{
	box-shadow:none;
	height:12px;
	width:12px;
	line-height:12px;
	content:"\f00c";
	font-family:'FontAwesome';
	color:#ccc;
	border:1px solid #ccc;
	background:#fff;
	text-align:center;
	margin-right:4px;
	border-radius:2px;
	font-size:10px!important;
}
input.checkbox:checked+label:before{
	background:#fff;
	box-shadow:none;
	color:#498ae5;
	border-color:#498ae5;
}
.unit{
	display: inline-block; 
	width: 0px;
	text-indent: -61px;
    text-align: center;
	color:#999;
}
.input-unit{
	padding-right:30px!important;
}
input:focus+.unit{
	color:#58A2EC;
}
/**表单 end**/

/**列表 start**/
.table{
	margin:15px 0;
}
.table thead{
	background:#F6F8F9;
}
.table table,.table-detail table{
	width:100%;
	border:1px solid #E6EAF2;
}
.table tbody tr:hover{
	background:#eee;
}
.table td,.table th,.table-detail td,.table-detail th{
	padding:8px;
	text-align:left;
	border:1px solid #E6EAF2;
}
td.colswrap{
	padding-top:5px!important;
	padding-bottom:5px!important;
}
th.colswrap{
	line-height:14px;
	padding-top:1px!important;
	padding-bottom:1px!important;
}
.table-detail tbody td:nth-child(odd){
	width:10%;
	min-width:100px;
	max-width:250px;
	padding-left:20px;
}
.table-detail thead td{
	font-size:18px;
	padding-left:20px;
}
.data-empty{
	font-size:14px;
	color:#999;
}
.data-empty i{
	font-size:32px;
	margin-right:5px;
	vertical-align:middle;
}
/**列表 end**/
/**分页 start**/
.pager{
	margin-top:15px;
	text-align:center;
}
.pagination{
	border-radius:3px;
	display:inline-block;
}
.pager a,.pager span{
	padding:4px 12px;
	display:inline-block;
	border:1px solid #ddd;
	line-height:23px;
	margin:0px 5px;
	border-radius:2px;
}
.pager input{
	width:40px;
	margin:0px 10px;
}
.pager .go{
	border:1px solid #ddd;
	border-radius:3px;
	padding:0;
	background:#fff;
	line-height:30px;
	vertical-align:middle;
	width:40px;
}
.pager .current{
	color:#fff!important;
	background:#58A2EC;
	border-color:#58A2EC;
}
.pager .current:first-child,.pager .current:last-child{
	display:none;
}
/**分页 end**/
/**自定义select控件下拉菜单 start**/
.options{
	position:absolute;
	background:#fff;
	border:1px solid #ddd;
	z-index:1000;
	padding:0;
	margin:0;
	box-sizing:border-box;
	-ms-box-sizing:border-box;
	max-height:272px;
	overflow-y:auto;
	top:0;
	left:0;
	opacity:0;
}
.options li{
	padding-left:5px;
	line-height:30px;
	height:30px;
	overflow:hidden;
	cursor:pointer;
}
.options li:hover,.options li.active{
	background:#eee;
}
/**自定义select控件下拉菜单 end**/
/**自定义下拉菜单 start**/
.drop-menu-list{
	color:#666;
}
.drop-menu-item a:hover{
	background:#eee;
	color:inherit;
}
/**自定义下拉菜单 end**/

/**hash表单提交 start**/
form[data-role="hash"],form[data-role="export"],form[data-role="remove"]{
	display:inline;
}
form[data-role="remove"] button{
	padding:0;
}
form[data-role="hash"] button,
form[data-role="hash"] select,
form[data-role="hash"] input,
form[data-role="hash"] .input-group,
form[data-role="export"] button
{
	margin-bottom: 5px;
	margin-top: 5px;
}
form[data-role="hash"] button{
	margin-left:5px;
	margin-right:5px;
}
.date-group{
	display:inline-block;
}
.popup-tips-text i.fa{
	color: #fff;
    margin-right: 4px;
    font-size: 26px;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: -6px;
}
.position-group{
	position:absolute;
	left:50%;
	margin-left:-200px;
	top:40px;
}
.input-group{
	display:inline-block;
	vertical-align:middle;
	font-size:0;
	position:relative;
}
.input-group button,.input-group input,.input-group select{
	border-radius:0px;
	margin:0px!important;
	min-width:20px;
	margin-right:-1px;
}
.input-group button:first-child,.input-group input:first-child,.input-group select:first-child{
	border-radius:3px 0px 0px 3px;
}
.input-group button:last-child,.input-group input:last-child,.input-group select:last-child{
	border-radius:0px 3px 3px 0px;
}
.input-group .btn-search{
	border-color:transparent;
	background:transparent;
	padding:0px;
	width:30px;
	position:absolute;
	right:0px;
	top:0px;
	box-shadow:none;
}
.input-search{
	padding-right:30px!important;
	border-radius:0px 3px 3px 0px!important;
}
.input-group .fa{
	font-size:16px;
	vertical-align:middle;
	margin:0px 5px;
	color:#666;
	position: relative;
	top: -2px;
}
.input-group input:focus~.btn-search .fa{
	color:#498ae5;
}
/**hash表单提交 end**/
/**nav-step start**/
.nav-step{
	font-size:1.3rem;
	text-align:center;
	line-height:50px;
	height:50px;
	border-radius:4px;
	overflow:hidden;
	background:#eee;
}

.nav-step i{
  font-size: 1.5em;
  color: #58A2EC;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.nav-step .active span{
	background:#58A2EC;
	color:#fff;
	position:relative;
    display: inline-block;
    width: 93%;	
}
.nav-step .arrow{
	margin-right:25px;
}
.nav-step .arrow:after{
	content:'';
	width:50px;
	height:50px;	
	position:absolute;
	top:0;
	right:-14px;
	background:#58A2EC;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
/**nav-step end**/
/**自动完成 start**/
.complete{
	position:relative;
}
.complete-position{
	position:absolute;
	z-index:999;
	background:#fff;
	border:1px solid #ddd;
	box-sizing:border-box;
	display:none;
	margin-top:-1px;
}
.complete-item{
	padding:0 10px;
	line-height:30px;
	height:30px;
	overflow:hidden;
	cursor:pointer;
}
.complete-item.active,.complete-item:hover{
	background:#eee;
}
.complete-loader{
	-webkit-transition: none!important;
	-moz-transition: none!important;
	-ms-transition: none!important;
	transition: none!important;
	background:transparent no-repeat right 8px center url('../images/tail-spin.svg');
	background-size:20px 20px;
	padding-right:22px;
}
/**自动完成 end**/
[data-slug]{
	display:none!important;
}
.popup .swiper-container{
	border-radius:3px;
}
.popup .swiper-container img{
	max-width:100%;
	max-height:100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.popup .swiper-close{
	position:absolute;
	top:10px;
	right:10px;
	z-index:100;
}
.popup .swiper-close i{
	font-size:40px;
	color:#fff;
}
.popup .swiper-close:hover i{
	color:red;
}
.popup .swiper-pagination-bullet-active{
	background:#eee;
}
.popup .swiper-button-next,.popup .swiper-button-prev{
	background:none;
	width:40px;
	text-align:center;
}
.popup .swiper-button-next i,.popup .swiper-button-prev i{
	font-size:60px;
	color:#fff;
	line-height:40px;
}